#row1 {
  border-bottom:1px solid #000;
  height:300px;
  width:100%;
  margin-bottom:20px;
}

#img-wrap {
  width:300px;
  height:300px;
}

.toggle:after {
  display:block;
  height:300px;
  width:300px;
}

header {
  margin-bottom: 30px;
  text-align:center;
}
#story {
  display:none;
}

.form-group {
  width:100%;
}



.person1, .person2,
.place1, .animal1,
.thing1 {
  text-decoration:underline;
  color: green;
}
